body {
    position:relative;
    top:50px;
    height:500px;
    font-family: 'Fira Sans', sans-serif;
    text-align:center;
    background-color: #35353f
}

.logo {
    position: relative;
    bottom: 450px;
    color: #ff007f;
    text-decoration: none;
}

.content {
    position: relative;
    bottom: 130px;
    color:#00aa00
}

button {
    height: 50px;
    width:250px;
    background-color: #aa00ff;
    cursor:pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ff00aa;
    color: white;
}
